/* --------------------------------------------------
  Projet MOOWSE
  Fichier css
  CSS de l'ensemble de l'application MooWse

  Quentin Payet
  Ecole Centrale de Nantes
  -------------------------------------------------- */

body {
    background-color:brown; 
}

.header {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0  2px 5px rgba(0,0,0,.3);
    background-image: url("../img/elan.png");
    background-repeat: no-repeat;
    background-position: top left;
}

.navigation {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0  2px 5px rgba(0,0,0,.3);
}

.navigation2 {
    padding: 2px;
    background: darksalmon;
}

.navigation2:hover{
    background: darkred;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: whitesmoke;

}

table {
    width: 100%;
    text-align: center;
    border-collapse:collapse;
}

th {
    background-color: brown;
    border:1px solid darkred;
    color:white;
}

td {
    border:1px solid darkred;
}

tr.couleur1 {
    background-color: darksalmon;
}

button {
    background-color: darksalmon;
    border: 1px solid darkred;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

#success_message {
    width: 400px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px #CCCCCC;
    background: url(../img/ok.png) no-repeat 5px center #d3ffde;
    border : 1px solid green;
    padding: 5px 5px 5px 28px;
    margin: 20px 0px;
    color: #1B892D;
    font-weight: bold;
}

#error_message {
    width: 400px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px #CCCCCC;
    border : 1px solid #A40000;
    padding: 5px 5px 5px 28px;
    background: url(../img/error.png) no-repeat 5px center #FFBBBB;
    margin: 20px 0px;
    color: #BA1515;
    font-weight: bold;
}

/* Gestion du footer */

.footer {
    text-align: center;
    width: 100%;
    padding: 2px;
    background: brown;
    border-radius: 5px;
}

.a2 {
    text-decoration: none;
    color: whitesmoke;
}

.a2:hover {
    text-decoration: none;
    color: black;
    background-color: antiquewhite;

}

.textfooter {
    font-size:10px;
    display: inline-block;
    margin-left: 300px;
}


.deconnexion {
    display: inline-block;
    margin-left: 200px;
}


.boutondeconnexion
{
    background-image: url("../img/logout_24.png");
    background-repeat: no-repeat;
    border: none;
    color: white;
    background-color: transparent;
    padding:2px 24px 0 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

}