<!DOCTYPE html>
<!--
Menu de navigation 

@author Quentin Payet
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <link href="../../public/css/layout.css" type="text/css" rel="stylesheet" />
        <meta charset="UTF-8" />


    <body>
        <br/><br/><br/>
        <div class="layout"><a href="remplissage.php">Modifier un WebService</a> |
            <a href="modification.php"> Configurer la BDD</a> |
            <a href="gestion_administrateurs.php"> Administrateurs</a> |
            <a href="gestion_clients.php"> Clients</a></div></br>
        <div class="textfooter">MooWse project 2016 - Ecole Centrale de Nantes </div>
        <div class="deconnexion">
            <form action="../controllers/deconnexion.php" method="POST">
                <p><button type="submit" class="boutondeconnexion"><br/></button></p>
            </form></div>
    </body>
</html>
