/* --------------------------------------------------
  Projet MOOWSE
  Fichier css
  CSS de l'ensemble de l'application MooWse

  Quentin Payet
  Ecole Centrale de Nantes
  -------------------------------------------------- */

body {
    background-color:brown; 
}

.navigation {
    text-align: center;
    margin: 100px auto 0;
    width: 800px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0  2px 5px rgba(0,0,0,.3);
    background-image: url("../img/elan.jpg");
    background-repeat: no-repeat;
    background-position: top left;
}

.navigation2 {
    padding: 2px;
    background: darksalmon;
}

.navigation2:hover{
    background: darkred;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: whitesmoke;

}

table {
    width: 100%;
    text-align: center;
    border-collapse:collapse;
}

th {
    background-color: darksalmon;
    border:1px solid darkred;
    color:white;
}

td {
    border:1px solid darkred;
}

button {
    background-color: darksalmon;
    border: 1px solid darkred;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

